[Unit]
Description=RasPi Streamer Tidal Connect Service
[Service]
Restart=on-failure
ExecStart=/opt/tidal-connect/start.sh

User=root
Group=root
RestartSec=1
KillMode=control-group
[Install]
WantedBy=multi-user.target
